{% extends "RAEBundle:Default:base.html.twig" %}

{% block stylesheet %}
    <style>

        .widget-rae {
            padding: 10px;
        }

    </style>
{% endblock %}
{% block title %}Selecci&oacute;n de acta pendiente.{% endblock %}
{% block content %}

    <div class="col-xs-12 col-lg-12">
        {% if mensaje is not null %}
            <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Operación exitosa. </strong>{{ mensaje }}
            </div>
        {% endif %}

        {% if error is not null %}
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Error. </strong>{{ error }}
            </div>
        {% endif %}

        <div class="row m-b-20">
            <div class="col-xs-12">
                <div class="table-responsive" id="pendientes-table">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Per&iacute;odo</th>
                            <th>Reuni&oacute;n</th>
                            <th>N&uacute;mero de acta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for acta in actasPendientes %}

                            <tr>
                                <th scope="row">{{ acta.reunion.periodo.id }}</th>
                                <td>{{ acta.reunion.reunion }}</td>
                                <td>{{ acta.numero }}</td>
                                <td>
                                    <a href="{{ path('_select_actas_pendientes_detalle', { 'id': acta.id, 'order': 0 }) }}" class="btn btn-primary sucecss" role="button"><i class="fa fa fa-plus"></i></a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
{% block javascript %}
    <script>


    </script>

{% endblock %}