{% extends "RAEBundle:Default:base.html.twig" %}

{% block stylesheet %}
    <style>

        #footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 55px;
            background-color: #3c4f4d;
            color:white;
        }

        .row-voto-selected {
            border: 2px groove black;
        }



    </style>
{% endblock %}
{% block title %}
    Creaci&oacute;n de detalle de acta. <br><br>
    <strong>Datos del acta: </strong>{{ cabeceraActa.reunion.periodo.id }}-{{ cabeceraActa.reunion.reunion }}-{{ cabeceraActa.numero }} , <strong>Hora:</strong> {{ cabeceraActa.fecha|date('d/m/Y H:i') }}
    <button type="button" class="btn btn-primary success" style="float: right;" onclick="showModalUpdateAllVotos()">
        <span class="icon-class">Modificar todos los votos</span>
    </button>
    <br/><br/>
    <strong>Presidente: </strong> {{ cabeceraActa.presidente.apellido }}, {{ cabeceraActa.presidente.nombre }}

    <div id="alert-presidente" style="display: none;">
        <br/>
        <div class="alert alert-danger" style="font-size: 14px;">
            <strong>ATENCIÓN!</strong> El presidente no figura en el detalle. Debe seleccionar el diputado sobrante y cambiarlo por el mismo.
            Actualice la página al hacer este cambio.
        </div>
    </div>

{% endblock %}
{% block content %}
    <script>
        var foundPresidente = false;
    </script>
    <div class="row" style="width: 100%;">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: right;">
            <a href="{{ path('_select_actas_pendientes_detalle', { 'id': cabeceraActa.id, 'order': 0 }) }}" class="btn btn-primary sucecss" role="button">Ordenar Alfabéticamente</a>
            <a href="{{ path('_select_actas_pendientes_detalle', { 'id': cabeceraActa.id, 'order': 1 }) }}" class="btn btn-primary sucecss" role="button">Ordenar por Voto</a>
        </div>
    </div>
    <div class="col-xs-12 col-lg-12">
        <div class="form-group p-t-15">

        </div>
    </div>

    <div class="col-xs-12 col-lg-12">
        {% if mensaje is not null %}
            <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Operación exitosa. </strong>{{ mensaje }}
            </div>
        {% endif %}

        {% if error is not null %}
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Error. </strong>{{ error }}
            </div>
        {% endif %}

        {% if popUp is not null %}
            <input id="pop-up"  style="display: none;" value="1">
        {% else %}
           <input id="pop-up"  style="display: none;" value="0">
        {% endif %}

        <div class="row m-b-20">
            <div class="col-xs-12">

                <div class="table-responsive table-container" id="detalle-table">
                    <table class="table table-hover table-striped arrow-nav">
                        <thead>
                        <tr>
                            <th>Apellido y nombre</th>
                            <th>Bloque pol&iacute;tico</th>
                            <th>Provincia</th>
                            <th>Voto</th>
                        </tr>
                        </thead>
                        <tbody class="scroll-container">

                        {% for detalle in detalleActa %}

                            {% if detalle.diputado.id != cabeceraActa.presidente.id %}

                                <tr class="row-voto-selector row-voto{% if loop.index0 ==0 %}-selected{% endif %}" id="row-index-{{ loop.index0 }}" data-id-detalle="{{ detalle.id }}" data-index="{{ loop.index0 }}">
                                    <td id="row-diputado-{{ loop.index0 }}" data-id-diputado="{{ detalle.diputado.id}}">{% if detalle.diputado.apellido is not null %} {{ detalle.diputado.apellido }}, {{ detalle.diputado.nombre }} {% else %} LEGISLADOR A DESIGNAR {% endif %}</td>
                                    <td id="row-bloque-{{ loop.index0 }}" data-id-bloque="{{ detalle.bloque.id }}">{{ detalle.bloque.nombre }}</td>
                                    <td id="row-provincia-{{ loop.index0 }}" data-id-provincia="{{ detalle.provincia.id }}">{{ detalle.provincia.nombre }}</td>
                                    <td id="row-voto-{{ loop.index0 }}" data-id-voto="{{ detalle.voto.id}}">{{ detalle.voto.voto }}</td>
                                </tr>

                            {% else %}
                                <script>
                                    foundPresidente = true;
                                </script>
                            {% endif %}

                        {% endfor %}

                        {% if cabeceraActa is not null %}
                            <input id="ultimo-periodo-cargada" type="hidden" value="{{ cabeceraActa.reunion.periodo.id }}">
                            <input id="ultima-reunion-cargada" type="hidden" value="{{ cabeceraActa.reunion.reunion }}">
                            <input id="ultima-acta-cargada" type="hidden"  value="{{ cabeceraActa.numero }}">
                            <input id="id-cabecera" type="hidden"  value="{{ cabeceraActa.id }}">
                        {% endif %}

                        </tbody>
                    </table>
                </div>

                {#Navbar flotante RAFAGA DE REQUESTS#}
                <div id="footer">
                    <div class="row p-t-15" >
                        <div class="col-md-2" >

                        </div>
                        <div class="col-md-2" >
                            <strong>(1)</strong> Afirmativos: <label id="afirmativos-actuales">{{ cabeceraActa.afirmativos }}</label>/<label id="afirmativos-totales">{{ cabeceraActa.afirmativosEstatico }}</label>
                        </div>
                        <div class="col-md-2" >
                            <strong>(2)</strong> Negativos:  <label id="negativos-actuales">{{ cabeceraActa.negativos }}</label>/<label id="negativos-totales">{{ cabeceraActa.negativosEstatico }}</label>
                        </div>
                        <div class="col-md-2" >
                            <strong>(3)</strong> Abstenciones: <label id="abstenciones-actuales">{{ cabeceraActa.abstenciones }}</label>/<label id="abstenciones-totales">{{ cabeceraActa.abstencionesEstatico }}</label>
                        </div>
                        <div class="col-md-2" >
                            <strong>(4)</strong> Ausentes:  <label id="ausentes-actuales">{{ cabeceraActa.ausentes }}</label>/<label id="ausentes-totales">{{ cabeceraActa.ausentesEstatico }}</label>
                        </div>
                        <div class="col-md-2" >
                            <a href="{{ path('_select_actas_pendientes') }}" style="margin-top: -5px;" class="btn btn-danger  square" role="button">Finalizar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Modal  de modelo-->
    <div id="modal-seleccion-modelo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccione un modelo de acta.</h4>
                </div>
                <div class="modal-body">
                    <form name="form-seleccion-modelo-acta" method="post" novalidate="" id="form-seleccion-modelo-acta">
                        <div class="block" id="datos-acta">
                            {#<h4 class="m-b-20 m-t-30">Buscar modelo</h4>#}
                            <div class="row">
                                <div class="col-xs-12 col-lg-4">
                                    <input type="text" id="periodo" name="periodo" autocomplete="off" class="form-control number-only"
                                           placeholder="" maxlength="3">
                                    <small class="form-text text-muted m-b-35">Período. Ej: 134</small>
                                </div>
                                <div class="col-xs-12 col-lg-4">
                                    <input type="text" id="reunion" name="reunion" autocomplete="off"
                                           class="form-control number-only" placeholder="" maxlength="5">
                                    <small class="form-text text-muted m-b-35">Número de reunión</small>
                                </div>
                                <div class="col-xs-12 col-lg-4">
                                    <input type="text" id="acta" name="acta" autocomplete="off"
                                           class="form-control number-only" placeholder="" maxlength="5">
                                    <small class="form-text text-muted m-b-35">Número de acta</small>
                                </div>
                                <div class="col-xs-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox">
                                            <input id="checkbox-acta-anterior" type="checkbox" class="custom-control-input" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Usar &uacute;ltima acta cargada</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="buscarDetalleDeActa()" class="btn btn-info">Aceptar</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Modal edicion de detalle-->
    <div id="modal-edicion-detalle" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edici&oacute;n de detalle.</h4>
                </div>
                <div class="modal-body">
                    <form name="form-edicion-detalle" method="post" novalidate="" id="form-edicion-detalle">
                        <div class="block" id="datos-detalle">
                            {#<h4 class="m-b-20 m-t-30">Buscar modelo</h4>#}
                            <div class="row">

                                <div class="col-xs-12 col-lg-4">
                                    <div class="form-group p-t-15">
                                        <select id="diputado-detalle" name="diputado-detalle" class="custom-select"
                                                style="width: 100% !important;">
                                            <option selected="" value="-1">LEGISLADOR A DESIGNAR</option>
                                            {% for d in diputados %}
                                                <option value="{{ d.id }}">{{ d.apellido }}, {{ d.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted m-b-35">Diputado</small>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-lg-4">
                                    <div class="form-group p-t-15">
                                        <select id="bloque-detalle" name="bloque-detalle" class="custom-select"
                                                style="width: 100% !important;">
                                            {% for b in bloques %}
                                                <option value="{{ b.id }}">{{ b.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted m-b-35">Bloque</small>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-lg-4">
                                    <div class="form-group p-t-15">
                                        <select id="provincia-detalle" name="provincia-detalle" class="custom-select"
                                                style="width: 100% !important;">
                                            {% for p in provincias %}
                                                <option value="{{ p.id }}">{{ p.nombre }}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted m-b-35">Provincia</small>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-lg-1">
                                    <div class="form-group p-t-15">
                                            <button type="button" class="btn btn-success" onclick="showModalAgregarDiputado()">
                                                <span class="icon-class">+</span>
                                            </button>

                                    </div>
                                </div>

                                {#<div class="col-xs-12 col-lg-3">
                                    <div class="form-group p-t-15">
                                        <select id="voto-detalle" name="voto-detalle" class="custom-select"
                                                style="width: 100% !important;">
                                            {% for v in votos %}
                                                <option value="{{ v.id }}">{{ v.voto }}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted m-b-35">Voto</small>
                                    </div>
                                </div>#}

                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="ajaxModificarDetalle()" class="btn btn-info">Aceptar</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal update all votos-->
    <div id="modal-update-all-votos" class="modal fade" role="dialog">
        <div class="modal-dialog  modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar todos los votos.</h4>
                </div>
                <div class="modal-body">
                    <form name="form-update-all-votos" method="post" novalidate="" id="form-update-all-votos">
                        <div class="block" id="datos-form-update-all-votos">

                            <div class="row">

                                <div class="col-xs-12 col-lg-12">
                                    <div class="form-group p-t-15">
                                        <select id="update-all-votos-selected" name="update-all-votos-selected" class="custom-select"
                                                style="width: 100% !important;">
                                            {% for v in votos %}
                                                <option value="{{ v.id }}">{{ v.voto }}</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted m-b-35">Voto</small>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="ajaxUpdateAllVotos()" class="btn btn-info">Aceptar</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>

        if(foundPresidente==false){
            $("#alert-presidente").show();
        }

        var indexSelected = 0;
        var idSelected = $('#row-index-'+indexSelected).attr('data-id-detalle');

        var afirmativosActuales = $('#afirmativos-actuales').html();
        var negativosActualues = $('#negativos-actuales').html();;
        var ausentesActuales = $('#ausentes-actuales').html();;
        var abstencionesActuales = $('#abstenciones-actuales').html();;

        var afirmativosTotales = $('#afirmativos-totales').html();
        var negativosTotales = $('#negativos-totales').html();;
        var ausentesTotales = $('#ausentes-totales').html();;
        var abstencionesTotales = $('#abstenciones-totales').html();;


        $(window).load(function(){

            if($('#pop-up').val()==1){
                $('#modal-seleccion-modelo').modal('show');
            }

            $(".row-voto-selector").click(function (){

                var index = parseInt($(this).attr('data-index'));
                selectRow(index);
                changeIdSelected(index);

            });

            $(".row-voto-selector").dblclick(function (){

                var index = parseInt($(this).attr('data-index'));
                selectRow(index);
                changeIdSelected(index);

                editarDetalle();
            });

            if($("#ultimo-periodo-cargada").val() !== undefined){
                localStorage.setItem("ultimo-periodo",  $("#ultimo-periodo-cargada").val());
                localStorage.setItem("ultima-reunion",  $("#ultima-reunion-cargada").val());
                localStorage.setItem("ultima-acta",  $("#ultima-acta-cargada").val());
            }

        });

        //EVENTOS
        $(document).keydown(function(e){

            console.log("Index selected before: " + indexSelected);
            $('.number-only').keypress(function (e) {
                if (isNaN(this.value + "" + String.fromCharCode(e.charCode)) || event.keyCode == 32 ) return false;
            })
                .on("cut copy paste", function (e) {
                    e.preventDefault();
            });

            //Sumo y resto totales dependiendo de que se modifique
            var votoValorAnterior = $('#row-voto-'+indexSelected).attr('data-id-voto');


            switch(e.keyCode){

                //flechas arriba y abajo
                case 38:
                    console.log("38 - Index Selected: " + indexSelected);
                    var nIndex = indexSelected - 1;
                    console.log("nIndex: " + nIndex);
                    selectRow(nIndex);
                    changeIdSelected(indexSelected);

                break;

                case 40:
                    console.log("40 - Index Selected: " + indexSelected);
                    var nIndex = indexSelected + 1;
                    console.log("nIndex: " + nIndex);
                    selectRow(nIndex);
                    changeIdSelected(indexSelected);

                    break;

                /*0-AFIRMATIVO
                * 1-NEGATIVO
                * 2-ABSTENCION
                * 3-AUSENTE*/

                case 49:
                    if(idSelected!==undefined){

                        $('#row-voto-'+indexSelected).attr('data-id-voto',0);
                        $('#row-voto-'+indexSelected).text("AFIRMATIVO");
                        ajaxModificarVoto(votoValorAnterior);
                    }
                    break;

                case 50:
                    if(idSelected!==undefined){
                        $('#row-voto-'+indexSelected).attr('data-id-voto',1);
                        $('#row-voto-'+indexSelected).text("NEGATIVO");
                        ajaxModificarVoto(votoValorAnterior);
                    }
                    break;

                case 51:
                    if(idSelected!==undefined){
                        $('#row-voto-'+indexSelected).attr('data-id-voto',2);
                        $('#row-voto-'+indexSelected).text("ABSTENCION");
                        ajaxModificarVoto(votoValorAnterior);
                    }

                    break;

                case 52:
                    if(idSelected!==undefined){
                        $('#row-voto-'+indexSelected).attr('data-id-voto',3);
                        $('#row-voto-'+indexSelected).text("AUSENTE");
                        ajaxModificarVoto(votoValorAnterior);
                    }

                    break;

            }

        });

        function ajaxModificarDetalle(){

            var idDiputado = $('#diputado-detalle').val();
            var idBloque =   $('#bloque-detalle').val();
            var idProvincia =$('#provincia-detalle').val();
            var idVoto =     $('#voto-detalle').val();

            $.post( "{{ path('_ajax_modificar_detalle')}}",
                {idDiputado:idDiputado,
                    idBloque:idBloque,
                    idProvincia:idProvincia,
                    idVoto:idVoto,
                    idDetalle:idSelected},
                function() {
                    //yo no miento ni enganio
                })
                .done(function(response) {
                    if(response.success === true) {
                        swal({
                            title: "Actualizado!",
                            text: response.message,
                            type: "success",
                            confirmButtonText: "Aceptar"
                        });

                        if(response.diputado !== undefined && response.diputado !== null){
                            $('#row-diputado-'+indexSelected).attr('data-id-diputado',response.diputado.id);
                            $('#row-diputado-'+indexSelected).html(response.diputado.apellido+", "+response.diputado.nombre);
                        }else{
                            $('#row-diputado-'+indexSelected).attr('data-id-diputado',-1);
                            $('#row-diputado-'+indexSelected).html("LEGISLADOR A DESIGNAR");
                        }

                        $('#row-bloque-'+indexSelected).attr('data-id-bloque',response.bloque.id);
                        $('#row-provincia-'+indexSelected).attr('data-id-provincia',response.provincia.id);
                        $('#row-voto-'+indexSelected).attr('data-id-voto',response.votoId);

                        $('#row-bloque-'+indexSelected).html(response.bloque.nombre);
                        $('#row-provincia-'+indexSelected).html(response.provincia.nombre);
                        $('#row-voto-'+indexSelected).html(response.votoNombre);

                        //actualizo el select de modificacion de detalle con los diputados que no figuran en los detalles
                        //del acta actual

                        var select = $('#diputado-detalle').empty();
                        select.append('<option selected value="-1">LEGISLADOR A DESIGNAR</option>');
                        $.each(response.diputados, function(i,item) {
                            select.append( '<option value="'
                                + item.id
                                + '">'
                                + item.apellido
                                + ', '+ item.nombre
                                + '</option>' );
                        });


                    }else{
                        swal({
                            title: "Error 1 !",
                            text: response.message,
                            type: "error",
                            confirmButtonText: "Aceptar"
                        });
                    }
                })
                .fail(function(response) {
                    swal({
                        title: "Error! 2",
                        text: JSON.stringify(response),
                        type: "error",
                        confirmButtonText: "Aceptar"
                    });
                }).always(function(){
                $('#modal-edicion-detalle').modal('hide');
            });


        }

        function ajaxModificarVoto(votoValorAnterior){

            var idVoto =  $('#row-voto-'+indexSelected).attr('data-id-voto');
            var idVotoAnterior = votoValorAnterior;
            var idVotoModificado = idVoto;

            $.post( "{{ path('_ajax_modificar_detalle_voto')}}",
                {
                    idVoto:idVoto,
                    idDetalle:idSelected},
                function() {
                    //yo no miento ni enganio
                })
                .done(function(response) {
                    if(response.success === true) {

                        $('#row-voto-'+response.idDetalleModificado).attr('data-id-voto',response.votoId);
                        $('#row-voto-'+response.idDetalleModificado).html(response.votoNombre);

                        idVotoModificado = response.votoId;

                        modificarValoresFooter(idVotoAnterior,idVotoModificado);

                    }else{
                        swal({
                            title: "Error 1 !",
                            text: response.message,
                            type: "error",
                            confirmButtonText: "Aceptar"
                        });
                    }
                })
                .fail(function(response) {
                    swal({
                        title: "Error! 2",
                        text: response.message,
                        type: "error",
                        confirmButtonText: "Aceptar"
                    });
                }).always(function(){

            });

        }

        function ajaxUpdateAllVotos(){

            var idActa =  $('#id-cabecera').val();
            var idVoto = $('#update-all-votos-selected').val();

            //alert(idActa+' '+idVoto);

            $.post( "{{ path('_update_acta_all_votos')}}",
                {
                    idVoto:idVoto,
                    idActa:idActa},
                function() {
                    //yo no miento ni enganio
                })
                .done(function(response) {
                    if(response.success === true) {
                        location.reload();
                    }else{
                        swal({
                            title: "Error!",
                            text: response.message,
                            type: "error",
                            confirmButtonText: "Aceptar"
                        });
                    }
                })
                .fail(function(response) {
                    swal({
                        title: "Error!",
                        text: response.message,
                        type: "error",
                        confirmButtonText: "Aceptar"
                    });
                }).always(function(){

            });

        }


        function selectRow(newIndex){
            if(newIndex<0 || 256<newIndex){
                console.log("Nada seleccionado");
                return;
            }
            console.log("Llamado selectRow con newIndex: " + newIndex);
            $('#row-index-'+indexSelected).removeClass('row-voto-selected');
            $('#row-index-'+newIndex).addClass('row-voto-selected');
            indexSelected = newIndex;
            console.log("indice actual: "+indexSelected);
        }

        function changeIdSelected(newIndex){
            idSelected = $('#row-index-'+newIndex).attr('data-id-detalle');
            console.log("Id detalle acta : "+idSelected);
        }

        function editarDetalle(){

            $('#diputado-detalle').val($('#row-diputado-'+indexSelected).attr('data-id-diputado'));
            $('#bloque-detalle').val($('#row-bloque-'+indexSelected).attr('data-id-bloque'));
            $('#provincia-detalle').val($('#row-provincia-'+indexSelected).attr('data-id-provincia'));
            $('#voto-detalle').val($('#row-voto-'+indexSelected).attr('data-id-voto'));

            $('#modal-edicion-detalle').modal('show');
        }

        $('#checkbox-acta-anterior').change(function() {
            if($("#checkbox-acta-anterior").prop('checked')){
                //$("#periodo").prop('disabled', true);
                $("#periodo").val( localStorage.getItem("ultimo-periodo"));
                ///$("#reunion").prop('disabled', true);
                $("#reunion").val(localStorage.getItem("ultima-reunion"));
                //$("#acta").prop('disabled', true);
                $("#acta").val(localStorage.getItem("ultima-acta"));
            }else{
                $("#periodo").prop('disabled', false);
                $("#periodo").val("");
                $("#reunion").prop('disabled', false);
                $("#reunion").val("");
                $("#acta").prop('disabled', false);
                $("#acta").val("");
            }
        });

        function buscarDetalleDeActa(){

            if(true){
                $('#form-seleccion-modelo-acta').submit();
            }
        }

        function modificarValoresFooter(idVotoAnterior,idVotoModificado) {

            //resto el voto que fue removido
            switch (idVotoAnterior*1) {
                case 0:
                    afirmativosActuales= afirmativosActuales*1-1;
                    $('#afirmativos-actuales').text(afirmativosActuales*1);
                    break;
                case 1:
                    negativosActualues = negativosActualues*1-1;
                    $('#negativos-actuales').text(negativosActualues*1);
                    break;
                case 2:
                    abstencionesActuales= abstencionesActuales*1-1;
                    $('#abstenciones-actuales').text(abstencionesActuales*1);
                    break;
                case 3:
                    ausentesActuales= ausentesActuales*1-1;
                    $('#ausentes-actuales').text(ausentesActuales*1);
                    break;
            }

            //sumo el voto que fue agregado
            switch (idVotoModificado*1) {
                case 0:
                    afirmativosActuales= afirmativosActuales*1+1;
                    $('#afirmativos-actuales').text(afirmativosActuales*1);
                    break;
                case 1:
                    negativosActualues = negativosActualues*1+1;
                    $('#negativos-actuales').text(negativosActualues*1);
                    break;
                case 2:
                    abstencionesActuales = abstencionesActuales*1+1;
                    $('#abstenciones-actuales').text(abstencionesActuales*1);
                    break;
                case 3:
                    ausentesActuales = ausentesActuales*1+1;
                    $('#ausentes-actuales').text(ausentesActuales*1);
                    break;
            }

        }

        function checkValidForm() {

            ajaxAgregarDiputadoYActualizarLista();
        }

        function ajaxAgregarDiputadoYActualizarLista(){
            $.post( "{{ path('_ajax_create_diputado')}}",
                {nombre:$("#diputado-nombre").val(),
                    apellido:$("#diputado-apellido").val(),
                    idProvincia:$("#diputado-provincia").val(),
                    idBloque:$("#diputado-bloque").val(),
                    idBloqueNuevo:$("#diputado-bloque-nuevo").val(),
                    sexo:$("#diputado-sexo").val()},
                function() {
                    //fsafsafsa
                })
                .done(function(response) {
                    if(response.success === true) {
                        swal({
                            title: "Actualizado!",
                            text: response.message,
                            type: "success",
                            confirmButtonText: "Aceptar"
                        });

                        $('#diputado-detalle').empty();
                        var diputados = $("#diputado-detalle");
                        $.each(response.nuevaListaDiputados, function() {
                            diputados.append($("<option />").val(this.id).text(this.apellido+","+this.nombre));
                        });


                        $('#bloque-detalle').empty();
                        var bloques = $("#bloque-detalle");
                        $.each(response.nuevaListaBloques, function() {
                            bloques.append($("<option />").val(this.id).text(this.nombre));
                        });

                        diputados.val(response.nuevoDiputado.id);
                        bloques.val(response.nuevoDiputado.bloque.id);
                        $('#provincia-detalle').val(response.nuevoDiputado.provincia.id);

                    }else{
                        swal({
                            title: "Error 1 !",
                            text: response.message,
                            type: "error",
                            confirmButtonText: "Aceptar"
                        });
                    }
                })
                .fail(function(response) {
                    swal({
                        title: "Error! 2",
                        text: response.message,
                        type: "error",
                        confirmButtonText: "Aceptar"
                    });
                }).always(function(){
                $('#modal-agregar-diputado').modal('hide');
            });


        }

        function showModalUpdateAllVotos(){
            $('#modal-update-all-votos').modal('show');
        }
    </script>


{% endblock %}