{% extends "RAEBundle:Default:base.html.twig" %}

{% block stylesheet %}
    <style>

        .widget-rae {
            padding: 10px;
        }

    </style>
{% endblock %}
{% block title %}Alta de Acta{% endblock %}
{% block content %}

    <div class="col-xs-12 col-lg-6">

        {% if mensaje is not null %}
            <div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Operación exitosa. </strong>{{ mensaje }}
            </div>
        {% endif %}

        {% if error is not null %}
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Error. </strong>{{ error }}
            </div>
        {% endif %}

        <form name="form" method="post" novalidate="" id="form-creacion-acta">
            <div class="block" id="datos-reunion">
                <h4 class="m-b-20 m-t-30">1. Datos de la reunión</h4>
                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="periodo-raw" name="periodo-raw" autocomplete="off" class="form-control"
                               placeholder="" maxlength="5">
                        <small class="form-text text-muted m-b-35">Período. Ej: 134oe</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="sesion" name="sesion" autocomplete="off" class="form-control number-only"
                               placeholder="" maxlength="5">
                        <small class="form-text text-muted m-b-35">Número de sesión</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="reunion" name="reunion" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="5">
                        <small class="form-text text-muted m-b-35">Número de reunión</small>
                    </div>
                </div>

            </div>
            <div class="block" id="datos-acta">
                <h4 class="m-b-10">2. Datos del acta</h4>
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group p-t-15">
                            <select id="base-mayoria" name="base-mayoria" class="custom-select"
                                    style="width: 100% !important;">
                                <option selected="" value="-1">Seleccionar</option>
                                {% for bm in baseMayoria %}
                                    <option value="{{ bm.id }}">{{ bm.nombre }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted m-b-35">Base de mayoría</small>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group p-t-15">
                            <select id="tipo-votacion" name="tipo-votacion" class="custom-select"
                                    style="width: 100% !important;">
                                <option selected="" value="-1">Seleccionar</option>
                                {% for tv in tiposVotacion %}
                                    <option value="{{ tv.id }}">{{ tv.nombre }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted m-b-35">Tipo de votación</small>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <select id="tipo-mayoria" name="tipo-mayoria" class="custom-select"
                                    style="width: 100% !important;">
                                <option selected="" value="-1">Seleccionar</option>
                                {% for tm in tipoMayoria %}
                                    <option value="{{ tm.id }}">{{ tm.nombre }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted m-b-35">Tipo de mayoría</small>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <select id="resultado-votacion" name="resultado-votacion" class="custom-select"
                                    style="width: 100% !important;">
                                <option selected="" value="-1">Seleccionar</option>
                                {% for tr in tipoResultado %}
                                    <option value="{{ tr.id }}">{{ tr.nombre }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted m-b-35">Resultado</small>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-6">
                        <div class="form-group">
                            <select id="voto-presidente" name="voto-presidente" class="custom-select"
                                    style="width: 100% !important;">
                                <option value="null">Sin voto</option>
                                <option value="0">Afirmativo</option>
                                <option value="1">Negativo</option>
                            </select>
                            <small class="form-text text-muted m-b-35">Voto del presidente</small>
                        </div>
                    </div>

                    <div class="col-xs-9 col-lg-5">
                        <div class="form-group">
                            <select id="presidente" name="presidente" class="custom-select"
                                    style="width: 100% !important;">
                                <option selected="" value="-1">Seleccionar</option>
                                {% for d in diputadosActivos %}
                                    <option value="{{ d.id }}">{{ d.apellido }}, {{ d.nombre }}</option>
                                {% endfor %}
                            </select>
                            <small class="form-text text-muted m-b-35">Presidente</small>
                        </div>
                    </div>

                    <div class="col-xs-1 col-lg-1">
                        <button type="button" class="btn btn-success" onclick="showModalAgregarDiputado()">
                            <span class="icon-class">+</span>
                        </button>
                    </div>


                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="numero-acta" name="numero-acta" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="5" value="0">
                        <small class="form-text text-muted m-b-35">Número de acta</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="fecha-acta" name="fecha-acta" autocomplete="off"
                               class="form-control fecha" placeholder="" maxlength="10">
                        <small class="form-text text-muted m-b-35">Fecha del acta. Formato dd/mm/yyyy</small>
                    </div>

                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="hora-acta" name="hora-acta" autocomplete="off" class="form-control hora"
                               placeholder="" maxlength="8">
                        <small class="form-text text-muted m-b-35">Hora del acta. Formato hh:mm</small>
                    </div>

                    <div class="col-xs-12 col-lg-6">
                        <input type="text" id="votos-afirmativos" name="votos-afirmativos" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="3" value="0">
                        <small class="form-text text-muted m-b-35">Número de votos afirmativos</small>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <input type="text" id="votos-negativos" name="votos-negativos" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="3" value="0">
                        <small class="form-text text-muted m-b-35">Número de votos negativos</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="abstenciones" name="abstenciones" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="3" value="0">
                        <small class="form-text text-muted m-b-35">Número de abstenciones</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="ausentes" name="ausentes" autocomplete="off"
                               class="form-control number-only" placeholder="" maxlength="3" value="0">
                        <small class="form-text text-muted m-b-35">Número de ausentes</small>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <input type="text" id="presentes-sin-identificar" name="presentes-sin-identificar"
                               autocomplete="off" class="form-control number-only" placeholder="" maxlength="3" value="0">
                        <small class="form-text text-muted m-b-35">Número de presentes sin identificar</small>
                    </div>

                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Título de acta</label>
                            <textarea id="titulo-acta" name="titulo-acta" class="form-control" rows="2"
                                      style="overflow:auto;resize:none"></textarea>
                            <small class="form-text text-muted m-b-35">Ej: Expediente 0030-S-2017.</small>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12" style="display: none">
                        <div class="form-group">
                            <label>Título público del acta</label>
                            <textarea id="titulo-publico-acta" name="titulo-publico-acta" class="form-control"
                                      rows="4"></textarea>
                            <small class="form-text text-muted m-b-35"></small>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12">
                        <div class="form-group">
                            <label>Observaciones del acta</label>
                            <textarea id="observacion-acta" name="observacion-acta" class="form-control"
                                      rows="6"></textarea>
                            <small class="form-text text-muted m-b-35"></small>
                        </div>
                    </div>

                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="guardar-cabecera-acta" type="button" onclick="return formularioValido();"
                               class="btn btn-lg btn-danger" value="Guardar">
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- Modal -->
    <div id="modal-advertencia" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Advertencia!</h4>
                </div>
                <div class="modal-body">
                    <p>Los campos de <strong>votos afirmativos, votos negativos, abstenciones, ausentes y presentes sin
                            identificar</strong> no suman 257.</p>
                    <p>¿Está seguro que desea guardar el acta de todos modos?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="ignorar()" class="btn btn-info">Aceptar</button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>

        var ignorarWarning = 0;

        $(function () {

            $('.number-only').keypress(function (e) {
                if (isNaN(this.value + "" + String.fromCharCode(e.charCode)) || event.keyCode == 32 ) return false;
            })
                .on("cut copy paste", function (e) {
                    e.preventDefault();
                });

        });

        $( window ).load(function() {
            $('#tipo-votacion').val(2);
            $('#tipo-mayoria').val(120);
            $('#base-mayoria').val(2);

        });



        $('.fecha').mask('00/00/0000');
        $('.hora').mask('00:00');

        $('.fecha').keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 32 || event.keyCode == 9
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true)
                || (event.keyCode >= 35 && event.keyCode <= 39)
                || (event.keyCode == 191)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        $('.hora').keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 32
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true)
                || (event.keyCode >= 35 && event.keyCode <= 39)
                || (event.keyCode == 186)) {
                return;
            } else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });

        function formularioValido() {

            //si el form no es valido no hago nada, si es valido chequeo que la suma de votos, ausentes y abstenciones sea
            //257 y en caso de que no, muestro una advertencia
            if (!camposValidos() || !formatosDeCamposValidos() || !fechasValidas()) {
                return false;
            }

            if (!votosAusentesYAbstencionesMasPresidenteSuman257() && !ignorarWarning) {
                $('#modal-advertencia').modal('show');
                return false;
            }else{
                $('#form-creacion-acta').submit();
            }

            if(ignorarWarning){
                $('#form-creacion-acta').submit();
            }

            return false;
        }

        function ignorar(){
           ignorarWarning = 1;
           formularioValido();
        }

        function fechasValidas() {

            var fechaSplit = $('#fecha-acta').val().split('/');
            var horaSplit = $('#hora-acta').val().split(':');

            if (fechaSplit.length !== 3 || horaSplit.length !== 2) {
                swal({
                    title: "Error!",
                    text: "Fecha u hora con formato invalido.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });

                return false;
            }

            if (fechaSplit[0] > 31 || fechaSplit[1] > 12 || horaSplit[0] > 23 || horaSplit[1] > 59) {
                swal({
                    title: "Error!",
                    text: "Fecha u hora con formato invalido.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });

                return false;
            }

            for (var i = 0; i < 3; i++) {
                if ((fechaSplit[2].length != 4 && fechaSplit[i].length != 2)) {
                    swal({
                        title: "Error!",
                        text: "Fecha u hora con formato invalido.",
                        type: "error",
                        confirmButtonText: "Aceptar"
                    });
                    return false;
                }
            }

            return true;
        }

        function camposValidos() {
            if (!$('#periodo-raw').val() || !$('#reunion').val() || !$('#sesion').val() ||
                !$('#base-mayoria').val() || !$('#tipo-mayoria').val() || !$('#tipo-votacion').val() || !$('#resultado-votacion').val() ||
                !$('#voto-presidente').val() || !$('#presidente').val() || !$('#numero-acta').val() || !$('#fecha-acta').val() || !$('#hora-acta').val() ||
                !$('#votos-afirmativos').val() || !$('#votos-negativos').val() || !$('#abstenciones').val() || !$('#ausentes').val() ||
                !$('#titulo-acta').val() /*|| !$('#titulo-publico-acta').val()*/ /*|| !$('#observacion-acta').val()*/ || !$('#presentes-sin-identificar').val()) {
                swal({
                    title: "Error!",
                    text: "Uno o mas campos se encuentran vacios, por favor completelos.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });
                return false;
            }
            return true;
        }

        function formatosDeCamposValidos() {

            //chequeo el formato del periodo
            var periodo = $('#periodo-raw').val().toLowerCase();
            var numeroPeriodo = periodo.substring(0, 3);
            var tipoPeriodo = periodo.substring(3, 4);
            var tipoSesion = periodo.substring(4, 5);

            //chequeo formato de periodo, de sesion, tipo periodo y tipo sesion
            if (!esNumero(numeroPeriodo)) {
                swal({
                    title: "Error!",
                    text: "El numero de periodo no es valido.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });
                return false;
            }
            if (tipoPeriodo !== "o" && tipoPeriodo !== "e" && tipoPeriodo !== "p") {
                swal({
                    title: "Error!",
                    text: "El tipo de periodo no es valido.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });
                return false;
            }
            if (tipoSesion !== "o" && tipoSesion !== "e" && tipoSesion !== "t" && tipoSesion !== "i" && tipoSesion !== "h") {
                swal({
                    title: "Error!",
                    text: "El tipo de sesion no es valido.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });
                return false;
            }

            if ($('#base-mayoria').val() == -1 || $('#tipo-mayoria').val() == -1 ||
                $('#tipo-votacion').val() == -1 || $('#resultado-votacion').val() == -1 ||
                $('#voto-presidente').val() == -1 || $('#presidente').val() == -1) {
                swal({
                    title: "Error!",
                    text: "Por favor seleccione todas las opciones.",
                    type: "error",
                    confirmButtonText: "Aceptar"
                });
                return false;
            }

            return true;
        }

        function esNumero(num) {
            return $.isNumeric(num)
        }

        function votosAusentesYAbstencionesMasPresidenteSuman257() {
            return (+$('#votos-afirmativos').val() + +$('#votos-negativos').val() + +$('#ausentes').val() + +$('#abstenciones').val() + 1) === 257;
        }

    </script>

{% endblock %}