{% extends "RAEBundle:Default:base.html.twig" %}

{% block stylesheet %}
    <style>

        .widget-rae {
            padding: 10px;
        }

    </style>
{% endblock %}
{% block title %}Relación de Actas con Expedientes{% endblock %}
{% block content %}



{% endblock %}
{% block javascript %}
    <script>


    </script>
{% endblock %}